.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#burp{
  color: #5cb85c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Colors*/
.green {
  color: #52B765;
}
.bggreen {
  background-color: #52B765;
}
.peach {
  color: #FFCAB1;
}
.bgpeach {
  background-color: #FFCAB1;
}
.orange {
  color: #E88737;
}
.bgorange{
  background-color: #E88737;
}
.greyblue{
  color: #69A2B0
}
.bggreyblue{
  background-color: #69A2B0;
}
.offwhite{
  color: #F6F8FF
}
.offwhite{
  background-color: #F6F8FF;
}

.landing {
  background-color: #F6F8FF;
  background-size: cover;
  background-position: center center;
  min-height: 40vh;
  position: relative;
}


.signInCard {
  background-color: rgba(253, 253, 253, 0.281);
  border-radius: 10px;

}
p, label, input {
  color: 	#3E9920
}
/* Icon Pulse */
.hvr-icon-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-pulse .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pulse:hover .hvr-icon, .hvr-icon-pulse:focus .hvr-icon, .hvr-icon-pulse:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pulse;
  animation-name: hvr-icon-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ---------------------Jennifer -------------------------*/
.dropZone {
  background: rgb(242, 242, 242);
  border:2px dashed rgb(205, 205, 205);
}
.FileUpload img {
  width: 50%
  }
#logo {
  height:50px;
}
.mealImage {
  height: 150px;
  width: 100%;
}
#footerimg {
  height:50px;
}
hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }
.searchfooter a {
  color: white;
  padding-top:5px;
}
.searchfooter ul{
  padding-inline-start: 0px;
}
.rowOfImages img {
  height: 150px;
  margin-right: 40px;
}

p, h1, h2, h3, h4, h5, h6, a, ul, label, input, span, button {
font-family: 'B612', sans-serif;
}
.flexContainer {
  display: flex;
  align-self: flex-start;
}
.signInArea {
  position: absolute;
  top: 180px;
  right: 100px;
  width: 400px;
  background-color: rgba(230, 232, 238);
  margin-bottom: 100px;
}
.signInArea label{
  padding-left: 0;
  margin-left: 10px;

}
.signInArea a {
  padding-left: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.signInBackground {
  background-image: url("https://images.unsplash.com/photo-1556910103-1c02745aae4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 50px;
}

.mealCard {
  max-width: 18rem;
  margin: auto;
}
/* ---------------------Jennifer -------------------------*/




/* --------------------- Mel-------------------------*/




.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  
}


.searchPage h1 {
  background-color: rgba(255, 255, 255, 0.75);
  display:inline-block;
  padding: 5px 5px 5px 5px;
 
}



/* --------------------- Mel-------------------------*/

/* --------------------- Aryan -------------------------*/

.signuppage {
  width: 50%;
  margin: auto;
}

.imageinput {
  display: block;
  margin: auto;
}






/* --------------------- Aryan -------------------------*/



